body {
  background-image: url('https://mvp-stream.s3-us-west-1.amazonaws.com/waterskybg.jpg');
  background-color: #557571;
  color: #f4f4f4;
  font-family: 'Arial';
}

h1 {
  font-family: 'Georgia';
  font-size: 50px;
}

div {
  border: 0px dashed black;
}

button {
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  padding: 3px;
  font-weight: 800;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  cursor: pointer;
}

.searchBttn {
  border: 1px;
  background-color: transparent;
}

button:hover {
  transform: scale(1.1);
}

.main {
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 720px;
  margin: 0 auto;
  border: 0px dashed red;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 0px dashed red;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 675px;
  padding: 5px;
  border: 0px dashed white;
}

.searchBox {
  width: 500px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  font-size: 18px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
  padding-left: 5px;
  opacity: 1;
}

.results,
.movies {
  margin: 0 auto;
  background-color: #fff;
  width: 675px;
  border: 0px dashed red;
  border-radius: 6px;
  padding: 5px;
  opacity: 0.9;
}

.sectionHeader {
  color: #000;
  font-weight: 600;
}

.searchRow,
.movieRow {
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  width: 650px;
  margin-left: 10px;
  gap: 15px;
  flex-wrap: wrap;
  padding: 3px;
  border: 0px dashed red;
}

.itemEntry {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 235, 235);
  color: black;
  width: 150px;
  height: 260px;
  border-radius: 3px;
  font-size: 14px;
}

.itemEntry:hover {
  opacity: 0.6;
  cursor: pointer;
}

.poster {
  width: 135px;
  height: 210px;
}

.imgRow {
  display: flex;
  justify-content: center;
  border: 0px dashed red;
}

.itemDetails {
  display: flex;
  justify-content: space-between;
  border: 0px dashed red;
}

.grayOut {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(94, 86, 86, 0.603);
  padding: 50;
  z-index: 1;
}

.displayEntry {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  color: black;
  border: 0px dashed blue;
  border-radius: 6px;
  padding: 8px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.platforms {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.platforms:hover {
  background: #ddd;
  opacity: 0.3;
  cursor: pointer;
}

.selectTitle {
  font-size: 20px;
}

svg {
  display: block;
  fill: none;
  height: 20px;
  width: 25px;
  stroke: #fff;
  stroke-width: 4;
  overflow: visible;
}