body {
  background-color: #557571;
  color: #f4f4f4;
  font-family: 'Arial';
}

h1 {
  font-family: 'Georgia';
}

.main {
  padding-top: 50px;
  width: 720px;
  margin: 0 auto;
}

.body {
  /* background-color: #004242; */
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.search {
  display: flex;
  margin: 0 auto;
  width: 675px;
  padding: 5px;
  border: 1px dashed white;
}

.searchBox {
  width: 300px;
  height: 30px;
  border-radius: 5px;
}

.results,
.movies {
  margin: 0 auto;
  background-color: #fff;
  width: 675px;
  border: 0px dashed red;
  border-radius: 5px;
  padding: 5px;
}

.sectionHeader {
  color: #000;
  font-weight: 600;
}

.searchRow,
.movieRow {
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  width: 660px;
  gap: 15px;
  flex-wrap: wrap;
  padding: 3px;
  border: 1px dashed red;
}

.itemEntry {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 235, 235);
  color: black;
  width: 150px;
  height: 250px;
  border-radius: 3px;
}

.poster {
  width: 135px;
}

.imgRow {
  display: flex;
  justify-content: center;
  border: 1px dashed red;
}

.itemDetails {
  display: flex;
  justify-content: space-between;
  border: 1px dashed red;
}

.grayOut {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(24, 22, 22, 0.726);
  padding: 50;
  z-index: 1;
}

.displayEntry {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  color: black;
  border: 1px dashed blue;
  padding: 5px;
  z-index: 5;
}

.platforms {
  border: 1px dashed green;
  display: flex;
  justify-content: center;
}

.platforms:hover {
  background: #ddd;
  opacity: 0.3;
}